<!doctype html>
<!--[if lt IE 7 ]><html class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Tatiana Chumakova Photography</title>

  <meta name="description" content="Tatiana Chumakova is a Russian-born, Canadian photographer currently based in Belgium. This is her online portfolio of art and commercial projects.">
  <meta name="author" content="Scott Hyndman">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="css/style.css?v=14">

  <script src="js/libs/modernizr-1.6.min.js"></script>
</head>

<body lang="en" >
  <div id="container">

    <div id="sidebar" class="hidden">
      <div id="page-title"></div>
      <div class="content"></div>
    </div>

    <header>
      <h1><a id="logo-link" href="#" class="ir">Tatiana Chumakova Photography</a></h1>
      <nav id="top-nav">
        <div id="menu-label">
          menu
        </div>
        <div id="top-nav-links" style="display:none">
          <a href="#photos" id="nav-photos">personal</a>
          <a href="#commercial" id="nav-photos">work</a>
          <a href="#bio" id="nav-bio">bio</a>
          <a href="#contact" id="nav-contact">contact</a>
        </div>
      </nav>
    </header>

    <div id="main" role="main">
      <section id="intro" class="hidden">
        <a href="#photos">
          <img src="images/index_banana.jpg" alt="Welcome to the photography site of Tatiana Chumakova" class="intro centered">
        </a>
      </section>

      <section id="photos" class="hidden">
      </section>
      <section id="commercial" class="hidden">
      </section>

      <section id="bio" class="hidden">
        <p>Tatiana is a Russian-born, Canadian photographer currently based in Belgium. She graduated from Ryerson University with a Bachelor of Fine Arts in Photography.</p>
        <p>Her artwork explores social trends – often through landscape photography. She is interested in human relationship to nature. Her work examines the way people inhabit land and the way they alter it. The North-American phenomenon of suburbia is one of the subjects Tatiana has explored; a theme particularly personal, because she spent her teenage years among the orderly rows of houses. Farming – another subject – is one of the oldest and most basic ways people relate to and depend upon nature. Tatiana finds the landscape and nature of farming wholesome and beautiful.</p>
        <p>In her photographic work, Tatiana hopes to explore larger issues that impact nature and society through local manifestations.  Her aim is to create images that foster thought and questions. Equally important for her is to create works of esthetic interest, offering the viewer a space of beautiful light, shape and colour to contemplate the underlying topics.</p>

        <div>
          <div>Born: Moscow, Russia</div>
          <div>Based: Toronto, Canada</div>
        </div>

        <div>
          <h2>education</h2>
          <div>B.F.A. (Honours) Ryerson University. Toronto, ON</div>
          <div>Mise &agrave; Niveau. &Eacute;cole Sup&eacute;rieure Des Arts Appliqu&eacute;s: Duperr&eacute;. Paris, France</div>
        </div>

        <div>
          <h2>solo exhibitions</h2>
          <div>2011 : Contact Photography Festival. Mounds. Capital Espresso. Toronto, ON </div>
          <div>2007 : Expanses of Concrete. Ryerson Image Arts Gallery. Toronto, ON</div>
        </div>

        <div>
          <h2>group exhibitions</h2>
          <div>2008 : President's Office Exhibition. Ryerson University. Toronto, ON</div>
          <div>2008 : Maximum Exposure. Gladstone Hotel. Toronto, ON</div>
          <div>2007 : Envisioning The City. O Patro Vys. Montreal, QC</div>
          <div>2007 : Study In The City. Private Space. Montreal, QC</div>
          <div>2006 : Maximum Exposure. Ryerson University. Toronto, ON</div>
        </div>

        <div>
          <h2>art publications</h2>
          <div>Function Magazine, volume 9. School of Image Arts:Toronto, 2008</div>

          <div>Portfolio 9: Modern Movements in Photography. Photobooks Canada: Toronto, 2007</div>
        </div>
        <div>
          <h2>fundraisers</h2>
          <div>2009: Timeraiser. Toronto, ON</div>
        </div>
      </section>

      <section id="contact" class="hidden">
        <!-- sidebar is in site content JSON -->
      </section>

      <section id="four-oh-four">
      </section>
      <div class="clearfix"></div>
    </div>
  </div>

  <script id="gallery-nav-tmpl" type="text/jst">
    <nav class="gallery-nav" style="display:none">
      <% if (mode == 'photo') { %>
        <div class="photo-nextprev">
          <a class="photo-prev" href="#">&lt;</a>
          <a class="photo-next" href="#">&gt;</a>
        </div>
      <% } %>
      <div>
        <a class="next-gal" href="#">next gallery</a>
      </div>
      <div>
        <% if (mode == 'photo') { %>
          back to
          <a class="back-to-gallery" href="#">thumbnails</a> /
          <a class="back-to-section" href="#<%= sectionAnchor %>"><%= sectionTitle %></a>
        <% } else { %>
          <a class="back-to-section" href="#<%= sectionAnchor %>">back to <%= sectionTitle %></a>
        <% } %>
      </div>
      <hr>
      <a class="follow-and-share" href="#">follow + share</a>
      <div class="share-options" style="display: none">
        <iframe style="border:none; overflow:hidden; width:50px; height:21px;" scrolling="no" frameborder="0" allowTransparency="true"
                src="//www.facebook.com/plugins/like.php?href=<%= sharePageUrl %>&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21"></iframe>
        <a href="http://pinterest.com/pin/create/button/?url=<%= sharePageUrl %>&media=<%= shareMediaUrl %>&description=<%= shareDescription %>" class="pin-it-button" count-layout="none">
          <img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" />
        </a>
        <iframe allowtransparency="true" frameborder="0" scrolling="no"
                src="https://platform.twitter.com/widgets/tweet_button.html?url=<%= sharePageUrl %>&count=none"
                style="width:56px; height:20px; position: relative; top: -1px; margin-left: 2px;"></iframe>
      </div>
    </nav>
  </script>

  <!-- Site content -->
  <script>
    tcp = {}; // package to avoid window pollution
    tcp.siteContent = {
      intro: {},

      photos: {
        title: 'photo projects',
        sidebar: 'galleries',
        navLink: 'nav-photos',
        defaultHtml: '<a href="#photos/slices 2012"><img src="images/slices/banana.jpg" alt="Mounds cover image" class="gallery-full"></a>',

        galleries: {
          "slices 2012": {
            hoverImgSrc: 'images/slices/banana.jpg',
            sidebarHtml: "<p>The aim of this series is to inspect produce from an unusual point of view. The photographs depict mostly round shapes of thinly sliced fruits and vegetables centred within the frame. Backlit and set against a white background, the slices are brilliantly luminous, their colours vivid, and textures sharp. </p>" +
            "<p>Some slices are easily associated with their parent fruit or vegetable, but others are not immediately recognizable. In this way they transcend the original fruit to become a microcosm of shape, texture and colour. Unhindered by the need for association or identification, the viewer is able to simply appreciate the marvel of the structural composition and the radiance of the slices. </p>" +
            "<p>The simplicity and balance of the composition creates a meditative space to contemplate the remarkable quality of fruits and vegetables. </p>",

            photos: {
              "zzuccini": {
                fullSrc: 'images/slices/zuccini.jpg',
                thumbSrc: 'images/slices/zuccini.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'zuccini. 2012'
              },
              "tomato": {
                fullSrc: 'images/slices/tomato.jpg',
                thumbSrc: 'images/slices/tomato.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'tomato. 2012'
              },
              "radish": {
                fullSrc: 'images/slices/radish.jpg',
                thumbSrc: 'images/slices/radish.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'radish. 2012'
              },
              "banana": {
                fullSrc: 'images/slices/banana.jpg',
                thumbSrc: 'images/slices/banana.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'banana. 2012'
              },
              "melon": {
                fullSrc: 'images/slices/melon.jpg',
                thumbSrc: 'images/slices/melon.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'melon. 2012'
              },
              "beet": {
                fullSrc: 'images/slices/beet.jpg',
                thumbSrc: 'images/slices/beet.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'beet. 2012'
              },
              "clementine": {
                fullSrc: 'images/slices/clementine.jpg',
                thumbSrc: 'images/slices/clementine.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'clementine. 2012'
              },
              "grape": {
                fullSrc: 'images/slices/grape.jpg',
                thumbSrc: 'images/slices/grape.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'grape. 2012'
              },
              "carrot": {
                fullSrc: 'images/slices/carrot.jpg',
                thumbSrc: 'images/slices/carrot.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'carrot. 2012'
              },
              "onion": {
                fullSrc: 'images/slices/onion.jpg',
                thumbSrc: 'images/slices/onion.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'onion. 2012'
              },
              "cucumber": {
                fullSrc: 'images/slices/cucumber.jpg',
                thumbSrc: 'images/slices/cucumber.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'cucumber. 2012'
              },
              "pear": {
                fullSrc: 'images/slices/pear.jpg',
                thumbSrc: 'images/slices/pear.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'pear. 2012'
              }
            }
          },

          "belgian cows 2011": {
            hoverImgSrc: 'images/belgianCows/belgianCows_cover.jpg',
            sidebarHtml: "<p>Northern Belgium is quite flat. Once you drive out of any town, the landscape spreads in front of you. The road is flanked by stretches of amazingly flat farming fields, separated at times by single, perfectly spaced out rows of trees. These rows are orderly and planned, but are quite lovely to behold, especially as the light streams through them. Now and again, there is a farming house.  Even during the winter months, many of the fields are a vibrant green. Belgium sees very little snow. </p>" +
            "<p>Many of these fields are home to cows. In my first months in Belgium, I was completely stunned by how many cows I saw. In every direction I went, out of whatever town I existed, there would be invariably fields of cows. My awe yielded to appreciation. I found the sight of the cows really calming and comforting, perhaps because I could depend on seeing them, or perhaps because they always seems so peaceful. </p>" +
            "<p>These photos depict some cows outside of Oostende on a foggy October morning. </p>",

            photos: {
              "belgianCows_01": {
                fullSrc: 'images/belgianCows/belgianCows_01.jpg',
                thumbSrc: 'images/belgianCows/belgianCows_01.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'untitled<br>West-Vlaanderen, Belgium. 2011'
              },
              "belgianCows_02": {
                fullSrc: 'images/belgianCows/belgianCows_02.jpg',
                thumbSrc: 'images/belgianCows/belgianCows_02.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'untitled<br>West-Vlaanderen, Belgium. 2011'
              },
              "belgianCows_03": {
                fullSrc: 'images/belgianCows/belgianCows_03.jpg',
                thumbSrc: 'images/belgianCows/belgianCows_03.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'untitled<br>West-Vlaanderen, Belgium. 2011'
              },
              "belgianCows_04": {
                fullSrc: 'images/belgianCows/belgianCows_04.jpg',
                thumbSrc: 'images/belgianCows/belgianCows_04.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'untitled<br>West-Vlaanderen, Belgium. 2011'
              },
              "belgianCows_05": {
                fullSrc: 'images/belgianCows/belgianCows_05.jpg',
                thumbSrc: 'images/belgianCows/belgianCows_05.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'untitled<br>West-Vlaanderen, Belgium. 2011'
              },
              "belgianCows_06": {
                fullSrc: 'images/belgianCows/belgianCows_06.jpg',
                thumbSrc: 'images/belgianCows/belgianCows_06.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'untitled<br>West-Vlaanderen, Belgium. 2011'
              },
              "belgianCows_07": {
                fullSrc: 'images/belgianCows/belgianCows_07.jpg',
                thumbSrc: 'images/belgianCows/belgianCows_07.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'untitled<br>West-Vlaanderen, Belgium. 2011'
              },
              "belgianCows_08": {
                fullSrc: 'images/belgianCows/belgianCows_08.jpg',
                thumbSrc: 'images/belgianCows/belgianCows_08.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'untitled<br>West-Vlaanderen, Belgium. 2011'
              },
              "belgianCows_09": {
                fullSrc: 'images/belgianCows/belgianCows_09.jpg',
                thumbSrc: 'images/belgianCows/belgianCows_09.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'untitled<br>West-Vlaanderen, Belgium. 2011'
              },
              "belgianCows_10": {
                fullSrc: 'images/belgianCows/belgianCows_10.jpg',
                thumbSrc: 'images/belgianCows/belgianCows_10.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'untitled<br>West-Vlaanderen, Belgium. 2011'
              },
              "belgianCows_11": {
                fullSrc: 'images/belgianCows/belgianCows_11.jpg',
                thumbSrc: 'images/belgianCows/belgianCows_11.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'untitled<br>West-Vlaanderen, Belgium. 2011'
              },
              "belgianCows_12": {
                fullSrc: 'images/belgianCows/belgianCows_12.jpg',
                thumbSrc: 'images/belgianCows/belgianCows_12.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'untitled<br>West-Vlaanderen, Belgium. 2011'
              }
            }
          },

          "fermes 2008" : {
            hoverImgSrc: 'images/fermes/silvia.jpg',
            sidebarHtml: "<p>In the summer of 2008, I volunteered on two organic farms in the south of France. And boy, did I go there at a good time – harvest! The fields were lush with ripe veggies: long rows of beans, carrots, and zucchinis. Tomatoes were hanging heavy on their vines in the greenhouses. Oh, those summer tomatoes! – a colourful multitude of heirloom varieties. That was the first summer I tasted purple and yellow-green tiger tomatoes. This led me to realizing that there are multiple varieties of just about every fruit, vegetable and grain out there. Sometimes hundreds even thousands of varieties! Have you seen purple carrots or golden yellow beets?!</p>" +
            "<p> What I remember most from those farms are the good natured, light-hearted people, welcoming with warmth friends, neighbours and wwoofers. I greatly appreciated the cultural exchange that wwoofing provided, and felt priviledged to be able to share in the lives of these people. </p>" +
            "<p> The photos portray a humble fraction of my experience: the people, the plants and the landscape of the farms.</p>",

            photos: {
              silvia: {
                fullSrc: 'images/fermes/silvia.jpg',
                thumbSrc: 'images/fermes/silvia.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Silvia devant la montagne, Pic St-Loup.<br>Ferme du Lamalou. Montpellier, France. 2008'
              },
              field: {
                fullSrc: 'images/fermes/field.jpg',
                thumbSrc: 'images/fermes/field.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Les champs.<br>Ferme du Lamalou. Montpellier, France. 2008'
              },
              sprouts: {
                fullSrc: 'images/fermes/sprouts.jpg',
                thumbSrc: 'images/fermes/sprouts.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Les pousses.<br>Ferme du Lamalou. Montpellier, France. 2008'
              },
              eggplant: {
                fullSrc: 'images/fermes/eggplant.jpg',
                thumbSrc: 'images/fermes/eggplant.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Une plante d\'aubergine.<br>Ferme du Lamalou. Montpellier, France. 2008'
              },
              manon2: {
                fullSrc: 'images/fermes/manon2.jpg',
                thumbSrc: 'images/fermes/manon2.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Manon, en train de s&eacute;cher les oignons.<br>Ferme des Quatre Saisons. Agen, France. 2008'
              },
              manon3: {
                fullSrc: 'images/fermes/manon3.jpg',
                thumbSrc: 'images/fermes/manon3.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Manon, en train de s&eacute;cher les oignons.<br>Ferme des Quatre Saisons. Agen, France. 2008'
              },
              grand_tomates: {
                fullSrc: 'images/fermes/grand_tomates.jpg',
                thumbSrc: 'images/fermes/grand_tomates.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Grand Max, en train de r&eacute;colter les tomates.<br>Ferme des Quatre Saison. Agen, France. 2008'
              },
              chard: {
                fullSrc: 'images/fermes/chard.jpg',
                thumbSrc: 'images/fermes/chard.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Une bette.<br>Ferme du Lamalou. Montpellier, France. 2008'
              },
              field2: {
                fullSrc: 'images/fermes/field2.jpg',
                thumbSrc: 'images/fermes/field2.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Les champs.<br>Ferme du Lamalou. Montpellier, France. 2008'
              },
              petit_tournesols: {
                fullSrc: 'images/fermes/petit_tournesols.jpg',
                thumbSrc: 'images/fermes/petit_tournesols.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Petit Max et les tournesols.<br>Ferme des Quatre Saisons. Agen, France. 2008'
              }
            }
          },

          "mounds:winter 2008": {
            hoverImgSrc: 'images/mounds/winter/mounds.winter.cover2.jpg',
            sidebarHtml: "<p>The images in this series depict mounds of gathered topsoil at suburban sites.</p>" +
            "<p>I felt compelled to record these piles of dirt because I believe they are significant. They represent a cleft between humanity and nature. They also testify to an inexcusable mismanagement of resources.</p>" +
            "<p>Earth is one of the essential natural elements, because it provides us with food.</p>" +
            "<p>Some of Canada’s most fertile soil can be seen from the CN Tower, right where the city of Toronto and its suburbs spread. These images are taken just north of Toronto, where rapid construction continues to pave over farmland.</p>" +
            "<p>For thousands of years, soil has been treasured for its potential to feed generations. Only a century ago, the process of topsoil removal would have been a greater calamity to the local population than any natural disaster.</p>" + "<p>Today, no one notices how the soil is scraped off and trucked away. I believe this disregard for topsoil signifies the way our relationship to land has changed over the past hundred years.</p>" +
            "<p>By giving piles of soil prominent positions within the frames, the project asks viewers to consider the value of soil.</p>",

            photos: {
              "01_vogell_road_richmond_hill": {
                fullSrc: 'images/mounds/winter/01_vogell_road_richmond_hill.jpg',
                thumbSrc: 'images/mounds/winter/01_vogell_road_richmond_hill.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Vogell Rd, Richmond Hill. 2008'
              },
              "02_vogell_road_richmond_hill": {
                fullSrc: 'images/mounds/winter/02_vogell_road_richmond_hill.jpg',
                thumbSrc: 'images/mounds/winter/02_vogell_road_richmond_hill.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Vogell Rd, Richmond Hill. 2008'
              },
              "03_vogell_road_richmond_hill": {
                fullSrc: 'images/mounds/winter/03_vogell_road_richmond_hill.jpg',
                thumbSrc: 'images/mounds/winter/03_vogell_road_richmond_hill.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Vogell Rd, Richmond Hill. 2008'
              },
              "04_vogell_road_richmond_hill": {
                fullSrc: 'images/mounds/winter/04_vogell_road_richmond_hill.jpg',
                thumbSrc: 'images/mounds/winter/04_vogell_road_richmond_hill.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Vogell Rd, Richmond Hill. 2008'
              },
              "05_vogell_road_richmond_hill": {
                fullSrc: 'images/mounds/winter/05_vogell_road_richmond_hill.jpg',
                thumbSrc: 'images/mounds/winter/05_vogell_road_richmond_hill.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Vogell Rd, Richmond Hill. 2008'
              },
              "06_16th_ave_richmond_hill": {
                fullSrc: 'images/mounds/winter/06_16th_ave_richmond_hill.jpg',
                thumbSrc: 'images/mounds/winter/06_16th_ave_richmond_hill.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: '16th Ave., Richmond Hill. 2008'
              },
              "07_side_road_17_pefferlaw": {
                fullSrc: 'images/mounds/winter/07_side_road_17_pefferlaw.jpg',
                thumbSrc: 'images/mounds/winter/07_side_road_17_pefferlaw.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Sideroad 17, Pefferlaw. 2008'
              }
            }
          },

          "mounds:fall 2007": {
            hoverImgSrc: 'images/mounds/fall/11_rutherford_road.jpg',
            sidebarHtml: "<p>The images in this series depict mounds of gathered topsoil at suburban sites.</p>" +
            "<p>I felt compelled to record these piles of dirt because I believe they are significant. They represent a cleft between humanity and nature. They also testify to an inexcusable mismanagement of resources.</p>" +
            "<p>Earth is one of the essential natural elements, because it provides us with food.</p>" +
            "<p>Some of Canada’s most fertile soil can be seen from the CN Tower, right where the city of Toronto and its suburbs spread. These images are taken just north of Toronto, where rapid construction continues to pave over farmland.</p>" +
            "<p>For thousands of years, soil has been treasured for its potential to feed generations. Only a century ago, the process of topsoil removal would have been a greater calamity to the local population than any natural disaster.</p>" + "<p>Today, no one notices how the soil is scraped off and trucked away. I believe this disregard for topsoil signifies the way our relationship to land has changed over the past hundred years.</p>" +
            "<p>By giving piles of soil prominent positions within the frames, the project asks viewers to consider the value of soil.</p>",

            photos: {
              "01_financial_drive_brampton": {
                fullSrc: 'images/mounds/fall/01_financial_drive_brampton.jpg',
                thumbSrc: 'images/mounds/fall/01_financial_drive_brampton.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Financial Drive<br>Brampton, Ontario. 2007'
              },
              "02_financial_drive_brampton": {
                fullSrc: 'images/mounds/fall/02_financial_drive_brampton.jpg',
                thumbSrc: 'images/mounds/fall/02_financial_drive_brampton.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Financial Drive<br>Brampton, Ontario. 2007'
              },
              "03_financial_drive_brampton": {
                fullSrc: 'images/mounds/fall/03_financial_drive_brampton.jpg',
                thumbSrc: 'images/mounds/fall/03_financial_drive_brampton.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Financial Drive<br>Brampton, Ontario. 2007'
              },
              "04_rutherford_road": {
                fullSrc: 'images/mounds/fall/04_rutherford_road.jpg',
                thumbSrc: 'images/mounds/fall/04_rutherford_road.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Rutherford Road<br>Richmond Hill, Ontario. 2007'
              },
              "05_financial_drive_brampton": {
                fullSrc: 'images/mounds/fall/05_financial_drive_brampton.jpg',
                thumbSrc: 'images/mounds/fall/05_financial_drive_brampton.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Financial Drive<br>Brampton, Ontario. 2007'
              },
              "06_financial_drive_brampton": {
                fullSrc: 'images/mounds/fall/06_financial_drive_brampton.jpg',
                thumbSrc: 'images/mounds/fall/06_financial_drive_brampton.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Financial Drive<br>Brampton, Ontario. 2007'
              },
              "07_financial_drive_brampton": {
                fullSrc: 'images/mounds/fall/07_financial_drive_brampton.jpg',
                thumbSrc: 'images/mounds/fall/07_financial_drive_brampton.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Financial Drive<br>Brampton, Ontario. 2007'
              },
              "08_vogell_road_richmondhill": {
                fullSrc: 'images/mounds/fall/08_vogell_road_richmondhill.jpg',
                thumbSrc: 'images/mounds/fall/08_vogell_road_richmondhill.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Vogell Road<br>Richmond Hill, Ontario. 2007'
              },
              "09_vogell_road_richmondhill": {
                fullSrc: 'images/mounds/fall/09_vogell_road_richmondhill.jpg',
                thumbSrc: 'images/mounds/fall/09_vogell_road_richmondhill.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Vogell Road<br>Richmond Hill, Ontario. 2007'
              },
              "10_financial_drive_brampton": {
                fullSrc: 'images/mounds/fall/10_financial_drive_brampton.jpg',
                thumbSrc: 'images/mounds/fall/10_financial_drive_brampton.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Financial Drive<br>Brampton, Ontario. 2007'
              },
              "11_rutherford_road": {
                fullSrc: 'images/mounds/fall/11_rutherford_road.jpg',
                thumbSrc: 'images/mounds/fall/11_rutherford_road.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Rutherford Road<br>Richmond Hill, Ontario. 2007'
              },
              "12_financial_drive_brampton": {
                fullSrc: 'images/mounds/fall/12_financial_drive_brampton.jpg',
                thumbSrc: 'images/mounds/fall/12_financial_drive_brampton.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Financial Drive<br>Brampton, Ontario. 2007'
              }
            }
          },

          "untitled 2007": {
            hoverImgSrc: 'images/untitled/01_untitled.jpg',
            sidebarHtml: "<p>These images depict nude people inhabiting altered landscapes. There is stark contrast between the vulnerability of the naked body and the rough industrial landscape. Although the landscapes are man-made, some forms appear natural, like mountainous hills.  </p>" +
            "<p>The aim of the work is to contemplate the type of environments industry creates – environments that people themselves cannot comfortably inhabit.</p>",

            photos: {
              "01_untitled": {
                fullSrc: 'images/untitled/01_untitled.jpg',
                thumbSrc: 'images/untitled/01_untitled.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Sandy - Construction Landfill<br>Leslie Spit, Toronto. 2007'
              },
              "02_untitled": {
                fullSrc: 'images/untitled/02_untitled.jpg',
                thumbSrc: 'images/untitled/02_untitled.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Tova - Road Salt<br>Commissioners street industrial area, Toronto. 2007'
              }
            }
          }
        }
      },

      "commercial": {
        title: "commercial work",
        sidebar: 'galleries',
        defaultHtml: '<a href="#commercial/food/"><img src="images/food/food.cover.jpg" alt="Food cover image" class="gallery-full"></a>',
        galleries: {
          food: {
            hoverImgSrc: 'images/food/food.cover.jpg',
            navCssClass: 'first-commercial',
            sidebarHtml: "<p>When people speak to me about food I don't simply think about produce or cuisine, but about the entire world that surrounds food. </p>" +
            "<p>For me, food is about nourishment, about the excitement of flavour and about the meeting of friends. </p>" +
            "<p>Food is about farming – the love and effort that goes into growing produce. It’s about the amazing gift of plants that start out as the tiniest of seeds. It’s about caring for the earth. </p>" +
            "<p>Food is sensual. It’s about the delicate and robust aromas. It’s about flavors that melt on the tongue or explode on the palette. </p>" +
            "<p>Food is an entire experience. It’s about the feel-good establishments, about little “Mom ‘n’ Pop” shops but also about fine dining, creativity and art. </p>" +
            "<p>Food is about family and friends and maybe even strangers. It’s about the connections you forge and the laughter you share. Yes, it’s definitely about sharing. </p>" +
            "<p>Food is about the multitude of molecules that give us strength and vitality. </p>" +
            "<p>Food touches us from a molecular to a global level. Our eating choices impact our health, the environment and other people around the globe. So food must also be about awareness. </p>" +
            "<p>I am absolutely fascinated by exploring the world of food, through taste, contribution, experience, and most definitely, through my photography. </p>",

            photos: {
              "pomegranate": {
                fullSrc: 'images/food/pomegranate.jpg',
                thumbSrc: 'images/food/pomegranate.thumb.jpg',
                title: '$use_parent',
              },
              "sluis": {
                fullSrc: 'images/food/sluis.jpg',
                thumbSrc: 'images/food/sluis.thumb.jpg',
                title: '$use_parent',
              },
              "salad": {
                fullSrc: 'images/food/salad.jpg',
                thumbSrc: 'images/food/salad.thumb.jpg',
                title: '$use_parent',
              },
              "sandwich": {
                fullSrc: 'images/food/sandwich.jpg',
                thumbSrc: 'images/food/sandwich.thumb.jpg',
                title: '$use_parent',
              },
              "wakamama": {
                fullSrc: 'images/food/wakamama.jpg',
                thumbSrc: 'images/food/wakamama.thumb.jpg',
                title: '$use_parent',
              },
              "radishes": {
                fullSrc: 'images/food/radishes.jpg',
                thumbSrc: 'images/food/radishes.thumb.jpg',
                title: '$use_parent',
              },
              "bakedTomatoes": {
                fullSrc: 'images/food/bakedTomatoes.jpg',
                thumbSrc: 'images/food/bakedTomatoes.thumb.jpg',
                title: '$use_parent',
              },
              "mushroomsInPan": {
                fullSrc: 'images/food/MushroomsInPan.jpg',
                thumbSrc: 'images/food/MushroomsInPan.thumb.jpg',
                title: '$use_parent',
              },
              "MushroomTofuKaleSandwich": {
                fullSrc: 'images/food/MushroomTofuKaleSandwich.jpg',
                thumbSrc: 'images/food/MushroomTofuKaleSandwich.thumb.jpg',
                title: '$use_parent',
              },
              "soup": {
                fullSrc: 'images/food/soup.jpg',
                thumbSrc: 'images/food/soup.thumb.jpg',
                title: '$use_parent',
              },
              "springLasagna": {
                fullSrc: 'images/food/springLasagna.jpg',
                thumbSrc: 'images/food/springLasagna.thumb.jpg',
                title: '$use_parent',
              }
            }
          },

          "place": {
            hoverImgSrc: 'images/place/place.cover.jpg',
            sidebarHtml: "&nbsp;",
            photos: {
              "comrade_01": {
                fullSrc: 'images/place/comrade_01.jpg',
                thumbSrc: 'images/place/comrade_01.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'The Comrade.<br>Toronto, Canada. 2011'
              },
              "comrade_02": {
                fullSrc: 'images/place/comrade_02.jpg',
                thumbSrc: 'images/place/comrade_02.thumb.jpg',
                title: '$use_parent',
              },
              "comrade_03": {
                fullSrc: 'images/place/comrade_03.jpg',
                thumbSrc: 'images/place/comrade_03.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'The Comrade.<br>Toronto, Canada. 2011'
              },
              "comrade_04": {
                fullSrc: 'images/place/comrade_04.jpg',
                thumbSrc: 'images/place/comrade_04.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'The Comrade.<br>Toronto, Canada. 2011'
                },
              "cafe_avignon_01": {
                fullSrc: 'images/place/cafe_avignon_01.jpg',
                thumbSrc: 'images/place/cafe_avignon_01.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Ginette & Marcel, Bistrot &agrave; Tartines.<br>Avignon, France. 2011'
                },
              "cafe_avignon_02": {
                fullSrc: 'images/place/cafe_avignon_02.jpg',
                thumbSrc: 'images/place/cafe_avignon_02.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Ginette & Marcel, Bistrot &agrave; Tartines.<br>Avignon, France. 2011'
                },
              "cafe_avignon_03": {
                fullSrc: 'images/place/cafe_avignon_03.jpg',
                thumbSrc: 'images/place/cafe_avignon_03.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Ginette & Marcel, Bistrot &agrave; Tartines.<br>Avignon, France. 2011'
                },
              "cafe_avignon_04": {
                fullSrc: 'images/place/cafe_avignon_04.jpg',
                thumbSrc: 'images/place/cafe_avignon_04.thumb.jpg',
                title: '$use_parent',
                sidebarHtml: 'Ginette & Marcel, Bistrot &agrave; Tartines.<br>Avignon, France. 2011'
              }
            }
          },

          "product": {
            hoverImgSrc: 'images/product/product.cover.jpg',
            sidebarHtml: "&nbsp;",
            photos: {
              "sneakers": {
                fullSrc: 'images/product/sneakers.jpg',
                thumbSrc: 'images/product/sneakers.thumb.jpg',
                title: '$use_parent',
              },
              "bridgestone": {
                fullSrc: 'images/product/bridgestone.jpg',
                thumbSrc: 'images/product/bridgestone.thumb.jpg',
                title: '$use_parent',
              }
            }
          },

          "Greenpeace:Darlington Nuclear Plant": {
            hoverImgSrc: 'images/Greenpeace/Darlington/Darlington.cover.jpg',
            sidebarHtml: "<p>Darlington Nuclear Power Plant.<br>Clarington, Ontario, Canada.<br>May, 2010</p>" +
            "<p>The Darligton Nuclear Power station is a large facility of 4 CANDU nuclear reactors, located on the northern shore of Lake Ontario.</p>" +
            "<p>The construction of the facility began in the early 1980's and the units came online in the early 1990's.</p>" +
            "<p>Massive cost overruns were incurred during the construction of the facility. Originally estimated at $3.9 billion, the final construction costs added up to $14.4 billion.</p>" +
            "<p>The Ontario Power Generation, that operates the Darligton facility, has begun the process to construct new reactors at the site. The OPG says, \"The project will provide up to 60 years of base load electricity [and] will be one of the largest capital infrastructure projects in Canada.\"</p>",

            photos: {
              "Darlington_01": {
                fullSrc: 'images/Greenpeace/Darlington/Darlington_01.jpg',
                thumbSrc: 'images/Greenpeace/Darlington/Darlington_01.thumb.jpg',
                title: '$use_parent',
              },
              "Darlington_02": {
                fullSrc: 'images/Greenpeace/Darlington/Darlington_02.jpg',
                thumbSrc: 'images/Greenpeace/Darlington/Darlington_02.thumb.jpg',
                title: '$use_parent',
              },
              "Darlington_03": {
                fullSrc: 'images/Greenpeace/Darlington/Darlington_03.jpg',
                thumbSrc: 'images/Greenpeace/Darlington/Darlington_03.thumb.jpg',
                title: '$use_parent',
              },
              "Darlington_04": {
                fullSrc: 'images/Greenpeace/Darlington/Darlington_04.jpg',
                thumbSrc: 'images/Greenpeace/Darlington/Darlington_04.thumb.jpg',
                title: '$use_parent',
              },
              "Darlington_05": {
                fullSrc: 'images/Greenpeace/Darlington/Darlington_05.jpg',
                thumbSrc: 'images/Greenpeace/Darlington/Darlington_05.thumb.jpg',
                title: '$use_parent',
              },
              "Darlington_06": {
                fullSrc: 'images/Greenpeace/Darlington/Darlington_06.jpg',
                thumbSrc: 'images/Greenpeace/Darlington/Darlington_06.thumb.jpg',
                title: '$use_parent',
              },
              "Darlington_07": {
                fullSrc: 'images/Greenpeace/Darlington/Darlington_07.jpg',
                thumbSrc: 'images/Greenpeace/Darlington/Darlington_07.thumb.jpg',
                title: '$use_parent',
              },
              "Darlington_08": {
                fullSrc: 'images/Greenpeace/Darlington/Darlington_08.jpg',
                thumbSrc: 'images/Greenpeace/Darlington/Darlington_08.thumb.jpg',
                title: '$use_parent',
              },
              "Darlington_09": {
                fullSrc: 'images/Greenpeace/Darlington/Darlington_09.jpg',
                thumbSrc: 'images/Greenpeace/Darlington/Darlington_09.thumb.jpg',
                title: '$use_parent',
              },
              "Darlington_10": {
                fullSrc: 'images/Greenpeace/Darlington/Darlington_10.jpg',
                thumbSrc: 'images/Greenpeace/Darlington/Darlington_10.thumb.jpg',
                title: '$use_parent',
              }
            }
          },

          "Greenpeace:Anti Oil Tankers Action": {
            hoverImgSrc: 'images/Greenpeace/Enbridge/Enbridge.cover.jpg',
            sidebarHtml: "<p>Action at Enbridge Canada's office in downtown Vancouver.<br>Vancouver, British Columbia, Canada.<br>July, 2010.</p>" +
            "<p>The action is against Enbridge Canada's Northern Gateway Project proposal to build a pipeline from Edmonton, Alberta to Kitimat, British Columbia.</p>" +
            "<p>The pipeline will be used to export petroleum and import condensate. The project poses a risk to northern forest and ocean ecosystems. The 1,172km proposed pipeline will run through prestine forest, carrying on average 525,000 barrels of oil each day. Large oil tankers will navigate narrow chanels enroute to Kitimat to export the oil to the United States." +
            "<p>Four activists occupy the inside of the Enbridge office, while the others stage an oil spill outside the building with a message that reads, \"Picture this on B.C.'s coast\"",

            photos: {
              "Enbridge_01": {
                fullSrc: 'images/Greenpeace/Enbridge/Enbridge_01.jpg',
                thumbSrc: 'images/Greenpeace/Enbridge/Enbridge_01.thumb.jpg',
                title: '$use_parent',
              },
              "Enbridge_02": {
                fullSrc: 'images/Greenpeace/Enbridge/Enbridge_02.jpg',
                thumbSrc: 'images/Greenpeace/Enbridge/Enbridge_02.thumb.jpg',
                title: '$use_parent',
              },
              "Enbridge_03": {
                fullSrc: 'images/Greenpeace/Enbridge/Enbridge_03.jpg',
                thumbSrc: 'images/Greenpeace/Enbridge/Enbridge_03.thumb.jpg',
                title: '$use_parent',
              },
              "Enbridge_04": {
                fullSrc: 'images/Greenpeace/Enbridge/Enbridge_04.jpg',
                thumbSrc: 'images/Greenpeace/Enbridge/Enbridge_04.thumb.jpg',
                title: '$use_parent',
              },
              "Enbridge_05": {
                fullSrc: 'images/Greenpeace/Enbridge/Enbridge_05.jpg',
                thumbSrc: 'images/Greenpeace/Enbridge/Enbridge_05.thumb.jpg',
                title: '$use_parent',
              },
              "Enbridge_06": {
                fullSrc: 'images/Greenpeace/Enbridge/Enbridge_06.jpg',
                thumbSrc: 'images/Greenpeace/Enbridge/Enbridge_06.thumb.jpg',
                title: '$use_parent',
              },
              "Enbridge_07": {
                fullSrc: 'images/Greenpeace/Enbridge/Enbridge_07.jpg',
                thumbSrc: 'images/Greenpeace/Enbridge/Enbridge_07.thumb.jpg',
                title: '$use_parent',
              },
              "Enbridge_08": {
                fullSrc: 'images/Greenpeace/Enbridge/Enbridge_08.jpg',
                thumbSrc: 'images/Greenpeace/Enbridge/Enbridge_08.thumb.jpg',
                title: '$use_parent',
              },
              "Enbridge_09": {
                fullSrc: 'images/Greenpeace/Enbridge/Enbridge_09.jpg',
                thumbSrc: 'images/Greenpeace/Enbridge/Enbridge_09.thumb.jpg',
                title: '$use_parent',
              },
              "Enbridge_10": {
                fullSrc: 'images/Greenpeace/Enbridge/Enbridge_10.jpg',
                thumbSrc: 'images/Greenpeace/Enbridge/Enbridge_10.thumb.jpg',
                title: '$use_parent',
              },
              "Enbridge_11": {
                fullSrc: 'images/Greenpeace/Enbridge/Enbridge_11.jpg',
                thumbSrc: 'images/Greenpeace/Enbridge/Enbridge_11.thumb.jpg',
                title: '$use_parent',
              },
              "Enbridge_12": {
                fullSrc: 'images/Greenpeace/Enbridge/Enbridge_12.jpg',
                thumbSrc: 'images/Greenpeace/Enbridge/Enbridge_12.thumb.jpg',
                title: '$use_parent',
              },
              "Enbridge_13": {
                fullSrc: 'images/Greenpeace/Enbridge/Enbridge_13.jpg',
                thumbSrc: 'images/Greenpeace/Enbridge/Enbridge_13.thumb.jpg',
                title: '$use_parent',
              },
              "Enbridge_14": {
                fullSrc: 'images/Greenpeace/Enbridge/Enbridge_14.jpg',
                thumbSrc: 'images/Greenpeace/Enbridge/Enbridge_14.thumb.jpg',
                title: '$use_parent',
              }
            }
          },

          "Greenpeace:Stop the Tarsands Action": {
            hoverImgSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower.cover.jpg',
            sidebarHtml: "<p>Action at the Calgary Tower.<br>Calgary, Alberta, Canada.<br>August, 2010.</p>" +
            "<p> The Action put pressure on Alberta's Premier, Ed Stelmach, and Canada's Prime Minister, Stephen Harper with the message reads, \"Separate Oil and State\". The message points to the need for the government to prioritize needs of the people and the environment, not the demands of the oil industry.</p>",

            photos: {
              "CalgaryTower_01": {
                fullSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_01.jpg',
                thumbSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_01.thumb.jpg',
                title: '$use_parent',
              },
              "CalgaryTower_02": {
                fullSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_02.jpg',
                thumbSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_02.thumb.jpg',
                title: '$use_parent',
              },
              "CalgaryTower_03": {
                fullSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_03.jpg',
                thumbSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_03.thumb.jpg',
                title: '$use_parent',
              },
              "CalgaryTower_04": {
                fullSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_04.jpg',
                thumbSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_04.thumb.jpg',
                title: '$use_parent',
              },
              "CalgaryTower_05": {
                fullSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_05.jpg',
                thumbSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_05.thumb.jpg',
                title: '$use_parent',
              },
              "CalgaryTower_06": {
                fullSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_06.jpg',
                thumbSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_06.thumb.jpg',
                title: '$use_parent',
              },
              "CalgaryTower_07": {
                fullSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_07.jpg',
                thumbSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_07.thumb.jpg',
                title: '$use_parent',
              },
              "CalgaryTower_08": {
                fullSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_08.jpg',
                thumbSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_08.thumb.jpg',
                title: '$use_parent',
              },
              "CalgaryTower_09": {
                fullSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_09.jpg',
                thumbSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_09.thumb.jpg',
                title: '$use_parent',
              },
              "CalgaryTower_10": {
                fullSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_10.jpg',
                thumbSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_10.thumb.jpg',
                title: '$use_parent',
              },
              "CalgaryTower_11": {
                fullSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_11.jpg',
                thumbSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_11.thumb.jpg',
                title: '$use_parent',
              },
              "CalgaryTower_12": {
                fullSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_12.jpg',
                thumbSrc: 'images/Greenpeace/CalgaryTower/CalgaryTower_12.thumb.jpg',
                title: '$use_parent',
              }
            }
          },

          "Greenpeace:No New Nuclear Action": {
            hoverImgSrc: 'images/Greenpeace/OPG/OPG.cover.jpg',
            sidebarHtml: "<p>Action at the Ontario Power Generation building.<br>Toronto, Ontario, Canada.<br>November, 2010</p>" +
            "<p>Activists protest against the proposed building of new nuclear reactors at the Darligton facility, by bringing $36 billion in money bags to the front of the OPG building to symbolize the cost of the project.</p>" +
            "<p> Two activists climbed two flag polls to unveil a large banner that reads, \"Stop Darlington Nuclear. Protect Consumers.\" The message is aimed at the Ontario Premier Dalton McGuinty and PC leader Tim Hudak.</p>",

            photos: {
              "OPG_01": {
                fullSrc: 'images/Greenpeace/OPG/OPG_01.jpg',
                thumbSrc: 'images/Greenpeace/OPG/OPG_01.thumb.jpg',
                title: '$use_parent',
              },
              "OPG_02": {
                fullSrc: 'images/Greenpeace/OPG/OPG_02.jpg',
                thumbSrc: 'images/Greenpeace/OPG/OPG_02.thumb.jpg',
                title: '$use_parent',
              },
              "OPG_03": {
                fullSrc: 'images/Greenpeace/OPG/OPG_03.jpg',
                thumbSrc: 'images/Greenpeace/OPG/OPG_03.thumb.jpg',
                title: '$use_parent',
              },
              "OPG_04": {
                fullSrc: 'images/Greenpeace/OPG/OPG_04.jpg',
                thumbSrc: 'images/Greenpeace/OPG/OPG_04.thumb.jpg',
                title: '$use_parent',
              },
              "OPG_05": {
                fullSrc: 'images/Greenpeace/OPG/OPG_05.jpg',
                thumbSrc: 'images/Greenpeace/OPG/OPG_05.thumb.jpg',
                title: '$use_parent',
              },
              "OPG_06": {
                fullSrc: 'images/Greenpeace/OPG/OPG_06.jpg',
                thumbSrc: 'images/Greenpeace/OPG/OPG_06.thumb.jpg',
                title: '$use_parent',
              },
              "OPG_07": {
                fullSrc: 'images/Greenpeace/OPG/OPG_07.jpg',
                thumbSrc: 'images/Greenpeace/OPG/OPG_07.thumb.jpg',
                title: '$use_parent',
              },
              "OPG_08": {
                fullSrc: 'images/Greenpeace/OPG/OPG_08.jpg',
                thumbSrc: 'images/Greenpeace/OPG/OPG_08.thumb.jpg',
                title: '$use_parent',
              },
              "OPG_09": {
                fullSrc: 'images/Greenpeace/OPG/OPG_09.jpg',
                thumbSrc: 'images/Greenpeace/OPG/OPG_09.thumb.jpg',
                title: '$use_parent',
              },
              "OPG_10": {
                fullSrc: 'images/Greenpeace/OPG/OPG_10.jpg',
                thumbSrc: 'images/Greenpeace/OPG/OPG_10.thumb.jpg',
                title: '$use_parent',
              },
              "OPG_11": {
                fullSrc: 'images/Greenpeace/OPG/OPG_11.jpg',
                thumbSrc: 'images/Greenpeace/OPG/OPG_11.thumb.jpg',
                title: '$use_parent',
              }
            }
          }
        }
      },

      bio: {
        navLink: 'nav-bio',
        sidebarHtml: '<div><img src="images/bio.jpg" alt="Photo of Tatiana" id="bio-pic">'
      },

      cv: {
        navLink: 'nav-cv',
        sidebarHtml: '<div id="download-cv"><p>For a complete cv, please send Tatiana an <a href="mailto:info@tatianachumakova.com">email.</a></p></div>'
      },

      contact: {
        navLink: 'nav-contact',
        fullSrc: 'images/contact.jpg',
        sidebarHtml: '<div id="contact-email">'+'<p>The images on this site are available for sale.</p>'+'<p>For any art or commercial inquires, please contact Tatiana at the email below.</p>'+'<a href="mailto:info@tatianachumakova.com">info@tatianachumakova.com</a></div>'
      }
    };
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.8.2.js"%3E%3C/script%3E'))</script>

  <!-- scripts concatenated and minified via ant build script-->
  <script src="js/mylibs/underscore-1.1.4.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/script.js?v=9"></script>
  <!-- end concatenated and minified scripts-->

  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->

  <script>
    var _gaq=[['_setAccount','UA-21547483-1']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>